akad==0.11.1
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
humanfriendly==4.16.1
idna==2.7
livejson==1.8.1
pafy==0.5.4
pyasn1==0.4.4
pytz==2018.5
requests==2.19.1
rsa==4.0
six==1.11.0
thrift==0.11.0
timeago==1.0.8
urllib3==1.23
youtube-dl==2018.10.5
PyQRCode
datetime
html5lib
gtts
googletrans
wikiapi
wikipedia
paramiko
qrcode
ffmpeg-python
timeago
pillow
MoviePy
python-magic
