akad
six
requests
rsa
PyQRCode
humanfriendly
datetime
bs4
html5lib
gtts
googletrans
wikiapi
wikipedia
paramiko
livejson
qrcode
ffmpeg-python
timeago
pafy
pillow
MoviePy
youtube_dl
python-magic